.progress-wrapper {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  width: 100%;
}

.demo-css .progress-inner {
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 11px 22px;
  transition: width 500ms cubic-bezier(0.08, 0.82, 0.17, 1);
}
._z_blog_lable {
  .poll_option {
    padding: 7px 65px 10px 35px;
    margin-bottom: 0;
    color: var(--textColor);
  }
}
.progress-info {
  z-index: 1;
  top: 12px;
  right: 14px;
  position: absolute;
  font-size: 0.875rem;
  font-weight: bold;
}

._z_poll_wrap {
  width: 100%;
  float: left;
  font-size: 1rem;
  padding: 20px;
  background: var(--bgPink);
  ._z_poll_label {
    float: left;
    line-height: 1;
    color: var(--textColor);
    padding: 3px 0px;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom:5px;
    p {
      margin-bottom: 0;
    }
  }
  ._z_poll_title {
    width: 100%;
    float: left;
    line-height: 1.34;
    color: var(--textColor);
    font-weight:400;
    margin-bottom: 10px;
    font-family: var(--fontFamilyDMDisplay);
    font-size: 1.25rem;
    font-style: italic;
  }
  form {
    width:60%;
    float: left;
  }
  ._z_radio {
    width: 100%;
    float: left;
    background:transparent;
    padding: 10px 12px 10px 38px;
    overflow: hidden;
    color:var(--textColor);
    font-weight: 500;
    line-height: 1.3;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 15px;
    border:1px solid var(--textColor);
    ._z_checkmark {
      position: absolute;
      top: 12px;
      left: 12px;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid var(--textColor);
      &:after {
        content: '';
        position: absolute;
        display: none;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked ~ ._z_checkmark {
        background-color: var(--colormain);
        border: 1px solid var(--colormain);
      }
      &:checked ~ ._z_checkmark:after {
        display: block;
      }
    }
  }
  ._z_checkmark:after {
    content: '';
    left: 5px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  ._z_poll_submit {
    width: 100%;
    float: left;
    &_button {
      color: var(--white-color);
      font-weight: 500;
      font-size: 0.875rem;
      border: 0;
      text-transform: uppercase;
      border-radius: 30px;
      line-height: 1;
      padding: 9px 30px;
    }
  }
}
._z_blog_lable {
  z-index: 2;
  position: relative;
  background: transparent;
  padding: 0 10px 0 0;
  margin-left: 12px;
  display: flex;
}
.active {
  background: var(--colormain);
}
.progress {
  ._z_radio_poll {
    margin-bottom: 20px;
    max-height: 100px;
    background: var(--pollOptionBG);
    padding: 10px 12px 10px 38px;
    border-radius: 30px;
    overflow: hidden;
    color: #989898;
    font-weight: 500;
    line-height: 1.3;
    position: relative;
    ._z_checkmark {
      position: absolute;
      top: 12px;
      left: 4px;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #989898;
      &:after {
        content: '';
        position: absolute;
        display: none;
        z-index: 999;
      }
    }
    input {
      z-index: 9;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked ~ ._z_checkmark {
        background-color: var(--colormain);
        border: 1px solid var(--colormain);
      }
      &:checked ~ ._z_checkmark:after {
        display: block;
      }
    }
  }
  ._z_checkmark {
    &::after {
      content: '';
      left: 5px;
      top: 2px;
      width: 5px;
      height: 8px;
      border: solid var(--textColorWhite);
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.bg_disable {
  background-color: var(--borderinputbox);
}

.high {
  background: var(--poll-color);
}

.low {
  background: var(--poll-color);
  opacity: 0.5;
}
.pollBg-grey {
  background-color: var(--bgPink);
  padding: 20px;
  min-height: 242px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  ._z_poll_wrap {
    ._z_poll_title {
      font-size: 1rem;
      font-weight:500;
      }
    form {
      width:100%;
      }
  }
}