.accordion {
  overflow: hidden;
  transition: all 0.3s ease;

  &-header {
    padding: 0;
    cursor: pointer;
    border: none;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      padding-right: 20px;
    }
  }

  &-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    flex-shrink: 0;

    svg {
      transform: rotate(0deg);
      transition: all 0.2s ease;
    }

    &.toggle-left {
      left: -25px;
    }

    &.toggle-right {
      right: -25px;
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    
    &[aria-hidden="false"] {
      overflow: visible;
    }
  }

  &-body {
    padding: 0;
    margin-top: 10px;
  }

  &.open {
    .accordion-toggle {
      svg {
        transform: rotate(90deg);
      }
    }

    .accordion-content {
      max-height: auto; // Adjust based on your content
      overflow: visible;
    }
  }

  // Close state with animation
  &.close {
    .accordion-content {
      max-height: 0;
      overflow: hidden;
    }
  }

  // Accessibility improvements
  @media (prefers-reduced-motion: reduce) {
    transition: none;
    
    .accordion-content {
      transition: none;
    }
    
    .accordion-toggle {
      transition: none;
    }
  }
}