:root {
    --fontFamily: "Noto Sans Devanagari", sans-serif;
    --fontFamilyTitle: "Noto Sans Devanagari", sans-serif;

    --lineHeightDefault: 1;
    --lineHeight18: 18px;
    --lineHeight20: 20px;
    --lineHeight22: 22px;
    --lineHeight24: 24px;
    --lineHeight26: 26px;
    --lineHeight28: 28px;
    --lineHeight30: 30px;
    --lineHeightLg: 1.63;

    --containerSize: 1160px;

    --textDanger: #be1f24;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --textColor: #171725;
    --blogColor: #EA2E00;
    --borderColor: #d4d4d4;
    --hrefColor: #002aae;
    --adsBgColor: #efefef;
    --greeOnline: #29c700;
}