.keyBox {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.keytag {
  padding: 5px 10px;
  text-transform: capitalize;
  background-color: #f6f6f6;
  border-radius: 6px;
  color: rgb(74, 74, 74);
  min-height: 28px;
  display: inline-flex;
  align-items: center;
}