.article-paragraph {
  @include font-size(16);
  font-weight: 400;
  line-height: 28px;
  padding: 10px 15px;
  word-break: break-word;
  overflow-x: auto;

  @include table();

  .card-item {
    margin-bottom: 0px;
  }

  img {
    max-width: 100%;
  }

  @include list();

  h2,
  h3 {
    @include font-size(17);
  }

  a {
    color: var(--hrefColor);
    text-decoration: none;
    display: inline-block;
  }

  iframe {
    width: 100%;
    height: initial;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
  }

  ol,
  ul {
    margin-bottom: 0px;
  }

  &:empty {
    display: none;
  }

  p {
    font-size: inherit;

    +p {
      padding: 10px 0;
    }

    &:empty {
      display: none;
    }
  }
}

.firstchild_bold {
  &::first-letter {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 30px;
  }

  strong,
  b {
    font-weight: bold;
  }
}