.KeyHighlights {
  padding: 20px;
  background-color: #F8E9E9;
  border: 0;
  display: block;
  margin-bottom: 15px;

  br {
    display: none;
  }

  .head {
    font-size: 1rem;
    margin: 0;
    line-height: var(--lineHeight20);
    color: var(--textColor);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 16px;
    max-width: 100%;
  }

  .lg {
    width: 100%;
  }

  h4,
  li {
    color: var(--textColor);
  }

  ul,
  ol {
    display: block;
    margin: 0;

    li {
      list-style: none;
      position: relative;
      font-size: 0.875rem;
      font-weight: 400;
      border-right: 0;
      padding-left: 0;

      &:not(:last-child) {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--borderColor);
      }
    }
  }
}

.content {
  padding-bottom: 12px;

  ul {
    list-style: square;

    li {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.63;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.f-bold {
  font-weight: bold;
}

.f-s-12 {
  font-size: 12px;
}

.f-s-14 {
  font-size: 14px;
  line-height: 1.5;
}